@font-face {font-family: "Canela-Light";
    src: url("19560807c484bbbfcd37de7a0011a829.eot"); /* IE9*/
    src: url("19560807c484bbbfcd37de7a0011a829.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("19560807c484bbbfcd37de7a0011a829.woff2") format("woff2"), /* chrome、firefox */
         url("19560807c484bbbfcd37de7a0011a829.woff") format("woff"), /* chrome、firefox */
         url("19560807c484bbbfcd37de7a0011a829.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
         url("19560807c484bbbfcd37de7a0011a829.svg#Canela-Light") format("svg"); /* iOS 4.1- */
  }

@font-face {font-family: "Canela-Bold";
    src: url("3def92f7b2ad644bd382798ecc8ca4c7.eot"); /* IE9*/
    src: url("3def92f7b2ad644bd382798ecc8ca4c7.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("3def92f7b2ad644bd382798ecc8ca4c7.woff2") format("woff2"), /* chrome、firefox */
         url("3def92f7b2ad644bd382798ecc8ca4c7.woff") format("woff"), /* chrome、firefox */
         url("3def92f7b2ad644bd382798ecc8ca4c7.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
         url("3def92f7b2ad644bd382798ecc8ca4c7.svg#Canela-Bold") format("svg"); /* iOS 4.1- */
  }